body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  #homeTitlePicture{
    margin-top:10px;
    margin-left:1em;
    margin-bottom: 1em;
    width: 20%;
    height: 15%;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #323331;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    color: white;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .active:hover{
    color: white;
  }
  #form-div{
    width: 30%;
    margin: 4%;
  }
    .inparea{
    width: 250px;
    height: 30px;
    float:right;
    }
    .form-btn{
    margin: 10px;
    margin-right: 5px;
    float: right
    }