<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/indexStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
    <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
    <script src="/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/kendo/js/kendo.all.min.js"></script>
    
    <title>HMFMSystem</title>
  </head>
  <body>
    <img src = "images/homeTitlePicture.jpg" id="homeTitlePicture">
    <ul style="margin-bottom: 1px;">
        <li><a class="active" href="#home">HMFMSystem</a></li>
        <li><a href="">設備查詢</a></li>
        <li><a href="/locationSelecter">地點查詢</a></li>
        <li><a href="/newEquitment">新增設備</a></li>
        <li><a href="/newLocation">新增地點</a></li>
        
    </ul>
    <div id="mainSelect_fbtn" class="main_fbtn" style="border-bottom: 2px solid rgb(65, 65, 65); background-color: rgb(49, 47, 47);">
      <h4 class="main_func_text">搜尋</h4>
    </div>
    <div id="select_area">
      <div ></div>
              <div class="main_fbtn" id="selectByEq_fbtn">
                      <h5 class="main_func_text">使用設備資料搜尋</h5>
              </div>
              <div class ="hide_selecter" id="selectByEquit">
               
                      <div class="form-group row">
                              <label class="col-md-3 control-label" style="margin-bottom: 20px;">設備ID</label>
                              <div class="col-md-9">
                                      <input type="text" name="OID" class="form-control" id="oid_inputer">        
                              </div>
                      </div>
      
                      <div class="form-group row">
                              <label class="col-md-3 control-label" style="margin-bottom: 20px;">型號</label>
                              <div class="col-md-9">
                              <select id="ot_selecter" name="OT" class=" form-control" type="text">
                                      <option value="">請選擇</option>
                                      <option value="乾粉">乾粉</option>
                                      <option value="海龍">海龍</option>
                                      <option value="二氧化碳">CO2</option>
                                      <option value="H2O">H2O</option>
                                      <option value="泡沫">泡沫</option>
                              </select>
                              </div>
                      </div>
                      <div class="form-group row">
                              <label class="col-md-3 control-label" style="margin-bottom: 20px;">規格</label>
                              <div class="col-md-9">
                              <select id="ts_selecter" name="TS" class=" form-control" type="text">
                                        <option value="">請選擇</option>
                                      <option value="3型">3型</option>
                                      <option value="5型">5型</option>
                                      <option value="10型">10型</option>
                                      <option value="20型">20型</option>
                                      <option value="30型">30型</option>
                                      <option value="50型">50型(輪架)</option>
                                      <option value="100型">100型(輪架)</option>
                                      <option value="150型">150型(輪架)</option>
                                      <option value="200型">200型(輪架)</option>
                              </select>
                              </div>
                      </div>
                      <div class="form-group row">
                              <label class="col-md-3 control-label" style="margin-bottom: 25px;">狀態</label>
                              <div class="col-md-9">
                              <select id="cs_selecter" name="CS" class=" form-control" type="text">
                                        <option value="">請選擇</option>
                                      <option value="正常">正常</option>
                                      <option value="遺失">遺失</option>
                                      <option value="異位">異位</option>
                                      <option value="即期收回">即期收回</option>
                                      <option value="待報廢">待報廢</option>
                                      <option value="已報廢">已報廢</option>
                              </select>
                              </div>
                      </div>
      
                      <div class="form-group row">
                              <label class="col-md-3 control-label" style="margin-bottom: 20px;">是否到期</label>
                              <div class="col-md-9">
                                      <ui class="fieldlist" style="list-style: none">
                                              <li>
                                                <select id="isNE"  class=" form-control" type="text">
                                                        <option value="0">請選擇</option>
                                                      <option value="0">正常</option>
                                                      <option value="1">即期</option>
                                              </select>
                                              </li>
                                      </ui>
                              </div>
                      </div>
                      
      
                      <div class="form-btn">
                        <button class="btn btn-default" id="cancel_btn">取消</button>
                        <button class="btn btn-danger" id="clean_btn">清除</button>
                        <button type="submit"  class="btn btn-primary" id="selectByEq_btn">查詢</button>
                      </div>
                      
                 
                  <div style="height: 40px;width:100%;float: none;"></div>
                  
              </div>
        

              <hr id="underline" class="style-one" />
      </div>
      <h3 style="margin-left: 8%;margin-top: 2%;margin-bottom: 1%;" id="title_bar">設備清單</h3>       
      <div id="data_grid" class="col-12" style="margin: 2%;margin-top: 0%;"></div>     
  </body>
<script>
$(document).ready(function(){
  //$("#select_area").hide();
  //$(".hide_selecter").hide();
  $("#title_bar").hide();
  $("#oid_inputer").val("");
        $("#ot_selecter").val("");
        $("#ts_selecter").val("");
        $("#cs_selecter").val("");
        $("#isNE").val("");
  
  $("#mainSelect_fbtn").click(function(){
    $("#select_area").toggle(200);
    $(".hide_selecter").toggle(200);
  });
  $("#oid_inputer").kendoMaskedTextBox(); 

  $("#locid_inputer").kendoMaskedTextBox(); 
  
  $("#cancel_btn").click(function(){
        $("#select_area").toggle(200);
        $(".hide_selecter").toggle(200);
        $("#oid_inputer").val("");
        $("#ot_selecter").val("");
        $("#ts_selecter").val("");
        $("#cs_selecter").val("");
        $("#isNE").val("");
  });
  $("#clean_btn").click(function(){
        $("#oid_inputer").val("");
        $("#ot_selecter").val("");
        $("#ts_selecter").val("");
        $("#cs_selecter").val("");
        $("#isNE").val("");
  })
 
});

//施工中
var nowDate = new Date();
var nDate = nowDate.toLocaleDateString();
var gridCount = 0;
$("#selectByEq_btn").click(function(){

        if (gridCount != 0) {
            $("#data_grid").data('kendoGrid').destroy();
        }
        $("#select_area").toggle(200);
    $(".hide_selecter").toggle(200);
        $("#title_bar").show();
        gridCount++;
        var params = {
                "OID" : $("#oid_inputer").val(),
                "ObjectType" : $("#ot_selecter").val(),
                "TypeSpec" : $("#ts_selecter").val(),
                "checkStituation" : $("#cs_selecter").val(),
                "isNE" : $("#isNE").val(),
                "nDate":nDate
        };


        $("#data_grid").kendoGrid({
          dataSource:{
                transport: {
                    read: {
                        method: "post",
                        url: "/searchByEq",
                        dataType: "json",
                        data: params
                    }
                },
                schema: {
                    model: {
                        fields: {
                            OID: { type: "int" },
                            ObjectType: { type: "string" },
                            TypeSpec: { type: "string" },
                            checkStituation: { type: "string" },
                            CheckDate: { type: "string" },
                            ManufatureDate: { type: "string" },
                            EXPdate: { type: "string" },
                            Location: { type: "string" },
                            MigrateLoc: { type: "string" },
                        }
                    }
                },
                pageSize: 20,
            },
          height:600,
          columns:[
                  {field:"OID",title:"設備編號",width:"5%"},
                  {field:"ObjectType",title:"型號",width:"7%"},
                  {field:"TypeSpec",title:"規格",width:"7%"},
                  {field:"checkStituation",title:"狀態",width:"7%"},
                  {field:"CheckDate",title:"檢查日期",width:"14%"},
                  {field:"ManufatureDate",title:"製造日期",width:"14%"},
                  {field:"EXPdate",title:"有效期限",width:"14%"},
                  {field:"Location",title:"放置位置",width:"15%"},
                  {field:"MigrateLoc",title:"異動位置",width:"15%"},
                  { command: { text: "報廢",click:deleteEq,className:"distory-btn"}, title: " ", width: "8%" },

          ],
          sortable:true,
          scrollable: true,
                        sortable: true,
                        pageable: {
                            input: true,
                            numeric: false
                        },
  });
});




function deleteEq(e) {
        e.preventDefault();
        var obj = this.dataItem($(e.currentTarget).closest("tr"));
        if(obj.checkStituation !="待報廢"){
                alert("該設備不符合報廢條件");
        }
        else if (confirm("確定嗎??") == true) {
            $.ajax({
                type: "POST",
                url: "DeleteObj",
                data: { "OID": obj.OID },
                dataType: "json",
            }).done(function (e) {
                
                if (e == true) {alert("報廢成功");
                $("#data_grid").data("kendoGrid").dataSource.read();}
                

            })

        } else 
        return false;
    }

</script>
<style>
        .distory-btn{
          background-color: #fc675d;
          color:white;
          border: 2px solid #fc675d;
          border-radius: 5px;
        }
        .distory-btn:hover{
                background-color: #ce0c0c;
                color: white;
                border: 2px solid #ce0c0c;
                border-radius: 5px;
        }
       
        </style>
</html>
