<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="stylesheets/login.css">
    <title>login</title>
</head>
<body>
    <div class="login-form">

   <form action="login" method="post">
    <input type="text" name="username" placeholder="請輸入UserID" required id="username">
    <input type="password" name="password" placeholder="password" required id="passward">
    <input type="submit" value="登入" id="login_btn">
   </form>
    </div>
</body>

<script>



</script>
</html>