<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/newEquitment.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
    <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/kendo/js/kendo.all.min.js"></script>
    <title>HMFMSystem</title>
  </head>
  <body>

    <img src = "images/homeTitlePicture.jpg" id="homeTitlePicture">
    <ul>
        <li><a class="active" href="#home">HMFMSystem</a></li>
        <li><a href="/">設備查詢</a></li>
        <li><a href="/locationSelecter">地點查詢</a></li>
        <li><a href="">新增設備</a></li>
        <li><a href="/newLocation">新增地點</a></li>
        
    </ul>
    <h2 style="margin-left: 20px;margin-top: 2%;">新增設備</h2>
<div id="form-div">
        <div class="form-group row" style="margin-bottom:20px">
            <label class="col-md-3 control-label">型號</label>
            <div class="col-md-9">
                <select id="obj_type" class=" form-control">
                    <option value="">請選擇</option>
                    <option value="乾粉">乾粉</option>
                    <option value="海龍">海龍</option>
                    <option value="二氧化碳">CO2</option>
                    <option value="H2O">H2O</option>
                    <option value="泡沫">泡沫</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:20px">
            <label class="col-md-3 control-label">規格</label>
            <div class="col-md-9">
                <select id="type_spec" class=" form-control">
                    <option value="">請選擇</option>
                    <option value="3型">3型</option>
                    <option value="5型">5型</option>
                    <option value="10型">10型</option>
                    <option value="20型">20型</option>
                    <option value="30型">30型</option>
                    <option value="50型">50型(輪架)</option>
                    <option value="100型">100型(輪架)</option>
                    <option value="150型">150型(輪架)</option>
                    <option value="200型">200型(輪架)</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:20px">

            <label class="col-md-3 control-label">製造日期</label>
            <div class="col-md-9">
                <input id="manufaDatePicker" value="10/10/2011" title="datepicker" style="width: 100%" />
            </div>
        </div>

        <div class="form-group row" style="margin-bottom:20px">

            <label class="col-md-3 control-label">使用期限</label>
            <div class="col-md-9">
                <input id="expDatePicker" value="10/10/2011" title="datepicker" style="width: 100%" />
            </div>
        </div>
        <div class="form-btn">
            <button class="btn btn-primary" id="insert_btn" style="float: right;margin-left: 5px;">新增</button>
            <button class="btn btn-danger" id="clean_btn" style="float: right;">清除</button>
            
        </div>
    
    
</div>
</body>
<script>
$(document).ready(function(){
    $("#expDatePicker").kendoDatePicker({ value: new Date(), format: "yyyy/MM/dd" });
    $("#manufaDatePicker").kendoDatePicker({ value: new Date(), format: "yyyy/MM/dd" });
    $("#clean_btn").click(function(){
        $("#obj_type").val("");
        $("#type_spec").val("");
    });
});
var nowDate = new Date();
var nDate = nowDate.toLocaleDateString();

$("#insert_btn").click(function(){
    var params = {
           "ObjType" : $("#obj_type").val(),
            "typeSpec" : $("#type_spec").val(),
            "manufaDate" : $("#manufaDatePicker").val(),
            "EXPdate": $("#expDatePicker").val(),
            "nDate" : nDate
        };
    $.ajax({
    type:"post",
    url:"newEquitment/insert",
    dataType:"json",
    data: params
}).done(function(e){
    if(e == true){
        alert("新增成功");
    }
})
}
    
);

</script>
</html>