<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/locSelecterStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
    <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/kendo/js/kendo.all.min.js"></script>
    <script src="/jszip.min.js"></script>
    <title>HMFMSystem</title>
</head>
<body>
    <img src = "images/homeTitlePicture.jpg" id="homeTitlePicture">
    <ul style="margin-bottom: 2px;">
        <li><a class="active" href="#home">HMFMSystem</a></li>
        <li><a href="/">設備查詢</a></li>
        <li><a href="/locationSelecter">地點查詢</a></li>
        <li><a href="/newEquitment">新增設備</a></li>
        <li><a href="/newLocation">新增地點</a></li>
        <li><a href="/objReq">器材缺乏報表</a></li>
    </ul>



    <h2 style="margin-left: 20px;">器材缺乏報表</h2>
<div id="data_grid" style="margin: 30px;"></div>
</body>
<script>
$(document).ready(function(){
    $("#data_grid").kendoGrid({
        toolbar: ["excel"],
            excel: {
                fileName: "Equitment req chart Export.xlsx",
                proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true
            },  
        dataSource:{
            transport: {
                    read: {
                        method: "post",
                        url: "locReq",
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        fields: {
                            LocID: { type: "int" },
                            LocName: { type: "string" },
                            BName: { type: "string" },
                            LocFloor: { type: "string" },
                            reqType:{type:"string"},
                            reqTypeSpec:{type:"string"},
                            reqAmount:{type:"string"}
                            
                        }
                    }
                },
                pageSize: 20,
            },
          height:600,
          columns:[
                  {field:"LocID",title:"地點編號",width:"10%"},
                  {field:"BName",title:"館別",width:"19%"},
                  {field:"LocFloor",title:"樓層",width:"19%"},
                  {field:"Locname",title:"地點名稱",width:"19%"},
                  {field:"reqType",title:"型號",width:"15%"},
                  {field:"reqTypeSpec",title:"規格",width:"15%"},
                  {field:"reqAmount",title:"需求數量",width:"10%"},
          ],
          sortable:true,
          scrollable: true,
                        sortable: true,
                        pageable: {
                            input: true,
                            numeric: false
                        },
  });
});

</script>
</html>